body {
    background-color: #abcdef;
    color:lightgrey;
}
h1 {
    color:white;
    font-size:42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    color:#1561ad;
}
tr {
    border:none;
}

footer p {
    text-align:center;
}
.btn-success{
    color: white;
    background-color:#1561ad;
}
.butt{
    text-decoration:none;
    color:#1561ad;
}
.pagine div {
   padding: 0 120px 0 120px;
}
label {
    color:#1561ad;
}
.card{
line-height: 1.5em;
color:#1561ad;
background-color: #ccdef0;
}
.card-title{
font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-text{
    line-height: 2em; 
}